.nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    flex-direction: column;
    color: white;
    gap: 20px;
    align-items: flex-start;
}

.sideChip {
    background: rgba(26, 25, 30, 0.6);
    padding: 12px 15px;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: width 0.3s ease;
    overflow: hidden;
    width: 50px;
    height: 46px;
    display: flex;
}

.activeLink {
    filter: drop-shadow(1px 1px 4px rgb(255 255 255 / 30%));
    background: var(--grad);
}

.sideChip span {
    margin-left: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.sideChip:hover span {
    opacity: 1;
}

.sideChip:hover {
    width: 200px;
}
