* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  scroll-behavior: smooth;
  --grad: linear-gradient(
        115deg,
        #91f7f6 0%,
        #75edff 8%,
        #6be1ff 17%,
        #70d4ff 25%,
        #8ac4ff 33%,
        #a8b2ff 42%,
        #c79ff4 50%,
        #e79ce2 58%,
        #fb9dcc 67%,
        #ffa3ba 75%,
        #ffaba8 83%,
        #ffb69e 92%,
        #fac199 100%
    );
}

*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(26, 25, 30, 0.6);
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    margin: 40px 75px 0 75px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(26, 25, 30, 0.6);
}

#container {
    display: flex;
    margin: 0 75px 40px 75px;
    height: 100%;
    margin-top: 40px;
    gap: 45px;
    overflow: hidden;
}